/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global typography */
body {
  font-family: "Inter", sans-serif;
}

:root {
  /* Brand Colors */
  --primary: #407bff;
  --primary-light: #6ca0ff;
  --primary-dark: #005ce6;
  --primary-soft: #e7efff;

  /* Gray / Text Scale */
  --text-primary: #414141;
  --text-secondary: #5c5c5c;
  --text-muted: #8a8a8a;
  --text-light: #bfbfbf;

  /* Neutral Background Variants */
  --background-light: #f5f5f5;
  --background-dark: #1c1c1c;
  --background-white: #fff;
  --background-gray: #f1f2f4;

  /* Borders & UI */
  --border-color: #dcdcdc;
}
